<body>
Welcome to Tricia's Tic Tac Toe
<center>
<form method="post" action="/play">
<table>
    <tr>   
        <td>
<input type="hidden" name="a1" value = "">
<input type="input" name="a1" size="2"> 
        </td>
         

         <td>
<input type="hidden" name="a2" value = "">
<input type="input" name="a2" size="2"> 
        </td>

         <td>
<input type="hidden" name="a3" value = "">
<input type="input" name="a3" size="2"> 
        </td>
    </tr>

    <tr>
        <td>
<input type="hidden" name="a4" value = "">
<input type="input" name="a4" size="2"> 
        </td>

        <td>
<input type="hidden" name="a5" value = "">
<input type="input" name="a5" size="2">
        </td>

       <td>
<input type="hidden" name="a6" value = "">
<input type="input" name="a6" size="2"> 
        </td>
</tr>

    <tr>
        <td>
<input type="hidden" name="a7" value = "">
<input type="input" name="a7" size="2">
        </td>
        
        <td>
<input type="hidden" name="a8" value = "">
<input type="input" name="a8" size="2">
        </td>
        
        <td>
<input type="hidden" name="a9" value = "">
<input type="input" name="a9" size="2">
        </td>
    </tr>
</table>

<input type="submit">
</center>
</body>