
<head>
<link href="/css/main.css" rel="stylesheet">
<title>
Tic Tac Toe
</title>
</head>

<body>
	<div>	
		<%=yield%>
	</div>
</body>


<footer>
	<div class="footer-text"> 
		Tic Tac Toe
		<br>
		Created by Tricia Hoover
	</div>
</footer>
